<script type="text/javascript">
    function previewFile() {
        const preview = document.querySelector('img');
        var file = document.getElementById('fileInput').files[0];
        const reader = new FileReader();
        reader.addEventListener("load", function () {
            preview.src = reader.result; // show image in <img> tag
        }, false);
        if (file) {
            reader.readAsDataURL(file);
        }
    }

    function uploadFile(file) {
        var file = document.getElementById('fileInput').files[0];
        if (file) {
            var formData = new FormData();
            formData.append('file', file);
            formData.append("myjson", JSON.stringify({ "name": document.getElementById("usr").value, "email": document.getElementById("email").value, "flag": document.getElementById("flag-select").value }));
            fetch('/upload', {
                method: 'POST',
                body: formData,

            })
                .then(response => response.json())
                .then(data => {
                    document.getElementById("serverMsg").innerHTML = data.message;
                    if (data.message === "user exists") {
                        document.getElementById("passwordDiv").style.display = "contents";
                    }


                })
                .catch(error => {
                    console.error(error);
                });
        }
    }

    function SendPassword() {
        var pw = document.getElementById("pwInput").value
        fetch('/pw', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ "name": document.getElementById("usr").value, "pw": pw })
        })
            .then(response => response.json())
            .then(data => {
                document.getElementById("serverMsg").innerHTML = data.message;
                if (data.message === "password set") {
                    document.getElementById("passwordDiv").style.display = "none";
                }
                if (data.message === "CORRECT") {
                     console.log("reload");
                     console.log(data.data);
                     //location.reload();
                       
                }
            })
            .catch(error => {
                console.error(error);
            });
    }



    function login() {
        console.log("{{json_data.serverURL}}/cloudbase1337/0/0");
        window.location.href ="{{json_data.serverURL}}/cloudbase1337/0/0";
    
    }

</script>
<input type="text" id="usr" value="Enter Username">
<input type="text" id="email" value="Enter Email">

<label for="flag-select">Select your national flag:</label>
<select id="flag-select" name="flag">
  <option value="">-- Choose a country --</option>

  <option value="https://flagcdn.com/af.svg">🇦🇫 Afghanistan</option>
  <option value="https://flagcdn.com/al.svg">🇦🇱 Albania</option>
  <option value="https://flagcdn.com/dz.svg">🇩🇿 Algeria</option>
  <option value="https://flagcdn.com/ad.svg">🇦🇩 Andorra</option>
  <option value="https://flagcdn.com/ao.svg">🇦🇴 Angola</option>
  <option value="https://flagcdn.com/ar.svg">🇦🇷 Argentina</option>
  <option value="https://flagcdn.com/au.svg">🇦🇺 Australia</option>
  <option value="https://flagcdn.com/at.svg">🇦🇹 Austria</option>

  <option value="https://flagcdn.com/bo.svg">🇧🇴 Bolivia</option>
  <option value="https://flagcdn.com/ba.svg">🇧🇦 Bosnia & Herzegovina</option>
  <option value="https://flagcdn.com/br.svg">🇧🇷 Brazil</option>
  <option value="https://flagcdn.com/bg.svg">🇧🇬 Bulgaria</option>

  <option value="https://flagcdn.com/ca.svg">🇨🇦 Canada</option>
  <option value="https://flagcdn.com/cf.svg">🇨🇫 Central African Republic</option>
  <option value="https://flagcdn.com/cn.svg">🇨🇳 China</option>
  <option value="https://flagcdn.com/co.svg">🇨🇴 Colombia</option>
  <option value="https://flagcdn.com/hr.svg">🇭🇷 Croatia</option>
  <option value="https://flagcdn.com/cy.svg">🇨🇾 Cyprus</option>
  <option value="https://flagcdn.com/cz.svg">🇨🇿 Czechia</option>

  <option value="https://flagcdn.com/dk.svg">🇩🇰 Denmark / Greenland</option>
  <option value="https://flagcdn.com/cd.svg">🇨🇩 DR Congo</option>

  <option value="https://flagcdn.com/eg.svg">🇪🇬 Egypt</option>
  <option value="https://flagcdn.com/ee.svg">🇪🇪 Estonia</option>
  <option value="https://flagcdn.com/et.svg">🇪🇹 Ethiopia</option>

  <option value="https://flagcdn.com/fo.svg">🇫🇴 Faroe Islands</option>
  <option value="https://flagcdn.com/fi.svg">🇫🇮 Finland</option>
  <option value="https://flagcdn.com/fr.svg">🇫🇷 France</option>

  <option value="https://flagcdn.com/gi.svg">🇬🇮 Gibraltar</option>
  <option value="https://flagcdn.com/gr.svg">🇬🇷 Greece</option>

  <option value="https://flagcdn.com/hu.svg">🇭🇺 Hungary</option>

  <option value="https://flagcdn.com/is.svg">🇮🇸 Iceland</option>
  <option value="https://flagcdn.com/in.svg">🇮🇳 India</option>
  <option value="https://flagcdn.com/id.svg">🇮🇩 Indonesia</option>
  <option value="https://flagcdn.com/iq.svg">🇮🇶 Iraq</option>
  <option value="https://flagcdn.com/ie.svg">🇮🇪 Ireland</option>
  <option value="https://flagcdn.com/ir.svg">🇮🇷 Iran</option>
  <option value="https://flagcdn.com/it.svg">🇮🇹 Italy</option>
  <option value="https://flagcdn.com/ci.svg">🇨🇮 Ivory Coast</option>

  <option value="https://flagcdn.com/jp.svg">🇯🇵 Japan</option>

  <option value="https://flagcdn.com/kz.svg">🇰🇿 Kazakhstan</option>
  <option value="https://flagcdn.com/ke.svg">🇰🇪 Kenya</option>
  <option value="https://flagcdn.com/xk.svg">🇽🇰 Kosovo</option>
  <option value="https://flagcdn.com/kr.svg">🇰🇷 South Korea</option>

  <option value="https://flagcdn.com/lv.svg">🇱🇻 Latvia</option>
  <option value="https://flagcdn.com/lb.svg">🇱🇧 Lebanon</option>
  <option value="https://flagcdn.com/ly.svg">🇱🇾 Libya</option>
  <option value="https://flagcdn.com/li.svg">🇱🇮 Liechtenstein</option>
  <option value="https://flagcdn.com/lt.svg">🇱🇹 Lithuania</option>
  <option value="https://flagcdn.com/lu.svg">🇱🇺 Luxembourg</option>

  <option value="https://flagcdn.com/mg.svg">🇲🇬 Madagascar</option>
  <option value="https://flagcdn.com/my.svg">🇲🇾 Malaysia</option>
  <option value="https://flagcdn.com/mv.svg">🇲🇻 Maldives</option>
  <option value="https://flagcdn.com/ml.svg">🇲🇱 Mali</option>
  <option value="https://flagcdn.com/mt.svg">🇲🇹 Malta</option>
  <option value="https://flagcdn.com/mr.svg">🇲🇷 Mauritania</option>
  <option value="https://flagcdn.com/mx.svg">🇲🇽 Mexico</option>
  <option value="https://flagcdn.com/md.svg">🇲🇩 Moldova</option>
  <option value="https://flagcdn.com/mc.svg">🇲🇨 Monaco</option>
  <option value="https://flagcdn.com/mn.svg">🇲🇳 Mongolia</option>
  <option value="https://flagcdn.com/me.svg">🇲🇪 Montenegro</option>
  <option value="https://flagcdn.com/ma.svg">🇲🇦 Morocco</option>
  <option value="https://flagcdn.com/mm.svg">🇲🇲 Myanmar</option>

  <option value="https://flagcdn.com/np.svg">🇳🇵 Nepal</option>
  <option value="https://flagcdn.com/nl.svg">🇳🇱 Netherlands</option>
  <option value="https://flagcdn.com/nz.svg">🇳🇿 New Zealand</option>
  <option value="https://flagcdn.com/ng.svg">🇳🇬 Nigeria</option>
  <option value="https://flagcdn.com/no.svg">🇳🇴 Norway</option>

  <option value="https://flagcdn.com/pe.svg">🇵🇪 Peru</option>
  <option value="https://flagcdn.com/pl.svg">🇵🇱 Poland</option>
  <option value="https://flagcdn.com/pt.svg">🇵🇹 Portugal</option>

  <option value="https://flagcdn.com/ro.svg">🇷🇴 Romania</option>
  <option value="https://flagcdn.com/ru.svg">🇷🇺 Russia</option>
  <option value="https://flagcdn.com/rs.svg">🇷🇸 Serbia</option>

  <option value="https://flagcdn.com/sa.svg">🇸🇦 Saudi Arabia</option>
  <option value="https://flagcdn.com/sn.svg">🇸🇳 Senegal</option>
  <option value="https://flagcdn.com/sm.svg">🇸🇲 San Marino</option>
  <option value="https://flagcdn.com/si.svg">🇸🇮 Slovenia</option>
  <option value="https://flagcdn.com/sk.svg">🇸🇰 Slovakia</option>
  <option value="https://flagcdn.com/so.svg">🇸🇴 Somalia</option>
  <option value="https://flagcdn.com/za.svg">🇿🇦 South Africa</option>
  <option value="https://flagcdn.com/es.svg">🇪🇸 Spain</option>
  <option value="https://flagcdn.com/se.svg">🇸🇪 Sweden</option>
  <option value="https://flagcdn.com/ch.svg">🇨🇭 Switzerland</option>
  <option value="https://flagcdn.com/sd.svg">🇸🇩 Sudan</option>

  <option value="https://flagcdn.com/tz.svg">🇹🇿 Tanzania</option>
  <option value="https://flagcdn.com/th.svg">🇹🇭 Thailand</option>
  <option value="https://flagcdn.com/tn.svg">🇹🇳 Tunisia</option>
  <option value="https://flagcdn.com/tr.svg">🇹🇷 Türkiye</option>

  <option value="https://flagcdn.com/ua.svg">🇺🇦 Ukraine</option>
  <option value="https://flagcdn.com/ae.svg">🇦🇪 United Arab Emirates</option>
  <option value="https://flagcdn.com/uk.svg">🇬🇧 United Kingdom</option>
  <option value="https://flagcdn.com/us.svg">🇺🇸 United States</option>
  <option value="https://flagcdn.com/uy.svg">🇺🇾 Uruguay</option>

  <option value="https://flagcdn.com/ve.svg">🇻🇪 Venezuela</option>
  <option value="https://flagcdn.com/vn.svg">🇻🇳 Vietnam</option>

  <option value="https://flagcdn.com/va.svg">🇻🇦 Vatican City</option>
</select>



<input type="file" id="fileInput" onchange="previewFile()"><br>
<input type="button" value="CREATE USER" onclick="uploadFile()">
<img height="200">
<p id="serverMsg"></p>

<input type="button" value="login" onclick=login()>
    